* {
  margin: 0;
  border: 0;
  padding: 0;
}
.dn {
  display: none;
}
img {
  width: 100%;
  height: auto;
  pointer-events: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input,
select {
  outline: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
div {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
img[src=""] {
  display: none;
}
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
/*====== 建议body给稿子底色背景 ==============*/
body,
html {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 320px;
  max-width: 750px;
  background: #565759;
}
::-webkit-input-placeholder {
  color: #999;
}
.pg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ps {
  position: absolute;
}
.dn {
  display: none;
}
img {
  height: auto;
  overflow: hidden;
  pointer-events: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
div {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
img[src=""] {
  display: none;
}
img {
  position: absolute;
}
body,
html,
#box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #e6cf81;
  position: relative;
}
.loading,
.bottle,
.make,
.stepOne,
.stepTwo,
.stepThr,
.stepFour,
.video,
.stick {
  width: 1448px;
  height: 750px;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -724px;
}
.lad-bg,
.p1-bg,
.p2-Bg,
.p3-bg,
.p4-bg,
.p5-1bg,
.p6-bg,
.p5-bg,
.p7-bg {
  width: 1448px;
  height: 750px;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -724px;
}
.typearea {
  width: 1448px;
  height: 750px;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -724px;
}
/*loading*/
.loading {
  z-index: 9999;
}
.load-title {
  position: absolute;
  width: 132px;
  height: 227px;
  top: 60px;
  left: 50%;
  margin-left: -66px;
}
.lad-1 {
  width: 97px;
  height: 224px;
}
.lad-2 {
  width: 38px;
  height: 104px;
  top: 65px;
  right: 0;
}
.load-person {
  position: absolute;
  width: 780px;
  height: 148px;
  top: 329px;
  left: 50%;
  margin-left: -390px;
}
.lad1-1 {
  opacity: 0;
  width: 102px;
  height: 120px;
  left: 0;
  bottom: 5px;
}
.lad1-2 {
  opacity: 0;
  width: 86px;
  height: 136px;
  left: 180px;
  bottom: 0px;
}
.lad1-3 {
  opacity: 0;
  width: 111px;
  height: 146px;
  left: 348px;
  bottom: 5px;
}
.lad1-4 {
  opacity: 0;
  width: 108px;
  height: 130px;
  left: 536px;
  bottom: 0px;
}
.lad1-5 {
  opacity: 0;
  width: 63px;
  height: 131px;
  left: 715px;
  bottom: 0px;
}
.load-progress {
  position: absolute;
  width: 100px;
  height: 23px;
  left: 50%;
  margin-left: -20px;
  top: 502px;
}
.load-f-one {
  display: none;
  float: left;
  position: relative;
  top: 0;
  width: 20px;
  height: 23px;
  background: url("../img/lad-5.png") no-repeat 0 0;
  background-size: 200px 23px;
}
.load-f-two {
  display: none;
  float: left;
  position: relative;
  top: 0;
  width: 20px;
  height: 23px;
  background: url("../img/lad-5.png") no-repeat 0 0;
  background-size: 200px 23px;
}
.load-f-thr {
  float: left;
  position: relative;
  top: 0;
  width: 20px;
  height: 23px;
  background: url("../img/lad-5.png") no-repeat 0 0;
  background-size: 200px 23px;
}
.lad-4 {
  float: left;
  position: relative;
  width: 17px;
  height: 23px;
  margin-left: 10px;
}
.load-line {
  width: 780px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 50%;
  margin-left: -390px;
  top: 576px;
}
.load-pre {
  width: 0px;
  height: 2px;
  background: #000;
  position: absolute;
  left: 0;
  top: 0px;
}
.lad-3 {
  width: 85px;
  height: 90px;
  left: 50%;
  margin-left: -42px;
  top: 611px;
}
/*bottle*/
.p1-1 {
  width: 331px;
  height: 38px;
  top: 179px;
  left: 50%;
  margin-left: -165px;
}
.p1-3 {
  width: 204px;
  height: 284px;
  top: 420px;
  left: 50%;
  margin-left: -102px;
}
.p1-2 {
  width: 112px;
  height: 135px;
  top: 300px;
  left: 50%;
  margin-left: -56px;
}
.p1-5 {
  width: 254px;
  height: 384px;
  transform: translate(-105px, -136px) scale(0.5) rotate(-72deg);
}
.p1-6 {
  width: 255px;
  height: 230px;
  top: 415px;
  left: 50%;
  margin-left: -57px;
  transform: translate(-42px, -37px) scale(0.5) rotate(-72deg);
}
.p1-7 {
  width: 311px;
  height: 285px;
  top: 388px;
  left: 50%;
  margin-left: -100px;
  transform: translate(-42px, -37px) scale(0.5) rotate(-72deg);
}
.p1-8 {
  width: 395px;
  height: 165px;
  top: 450px;
  left: 50%;
  margin-left: -138px;
  transform: translate(-42px, -37px) scale(0.5) rotate(-72deg);
}
.smell {
  position: absolute;
  width: 767px;
  height: 394px;
  top: 336px;
  left: 50%;
  margin-left: -202px;
}
.p1-9 {
  opacity: 0;
  width: 767px;
  height: 394px;
  bottom: 0px;
  right: 0;
}
.shake-box {
  position: absolute;
  width: 251px;
  height: 123px;
  top: 197px;
  left: 50%;
  margin-left: -125px;
  transform: scale(0.5);
}
.p1-4 {
  width: 251px;
  height: 123px;
  top: 0px;
  left: 0px;
}
.p1-4-1 {
  width: 76px;
  height: 76px;
  left: 86px;
  top: 49px;
}
/*make*/
.p2-1,
.p2-2,
.p2-3 {
  width: 241px;
  height: 241px;
  left: 289px;
  top: 288px;
}
.p2-2 {
  left: 587px;
  top: 191px;
}
.p2-3 {
  left: 882px;
  top: 288px;
}
.make-box {
  position: absolute;
  width: 485px;
  height: 138px;
  left: 50%;
  margin-left: -242px;
  top: 579px;
}
.make-btn {
  position: absolute;
  width: 485px;
  height: 111px;
  left: 0px;
  top: 0px;
}
.p2-5 {
  width: 485px;
  height: 111px;
}
.p2-4 {
  width: 457px;
  height: 29px;
  bottom: 0;
  left: 50%;
  margin-left: -228px;
}
/*stepOne*/
.s-o-des {
  position: absolute;
  width: 180px;
  height: 410px;
  left: 97px;
  top: 190px;
}
.p3-2 {
  width: 94px;
  height: 407px;
  left: 0px;
  top: 0px;
}
.p3-1 {
  width: 73px;
  height: 311px;
  right: 0px;
  top: 0px;
}
.s-o-next {
  position: absolute;
  width: 298px;
  height: 47px;
  top: 667px;
  left: 50%;
  margin-left: -149px;
}
.p3-10 {
  width: 298px;
  height: 47px;
  left: 0px;
  top: 0px;
}
.s-o-fill {
  position: absolute;
  overflow: hidden;
  width: 478px;
  height: 656px;
  left: 50%;
  margin-left: -239px;
  top: 0px;
}
.p3-11 {
  width: 478px;
  height: 265px;
  left: 0;
  bottom: 0px;
}
#mire {
  opacity: 0;
  transition: opacity 0.3s linear;
}
.p3-3 {
  width: 137px;
  height: 596px;
  left: 50%;
  margin-left: -141px;
  top: 0px;
}
.p3-3-1 {
  width: 141px;
  height: 598px;
  left: 50%;
  margin-left: 0px;
  top: 0px;
}
.s-o-pre {
  overflow: hidden;
  position: absolute;
  width: 41px;
  height: 256px;
  left: 955px;
  top: 188px;
}
.p3-4 {
  width: 41px;
  height: 256px;
  top: 0;
  left: 0;
}
.per-inner {
  position: absolute;
  width: 41px;
  height: 0px;
  bottom: 0;
  left: 0;
  overflow: hidden;
  transition: all 0.3s ease-in;
}
.p3-5 {
  width: 41px;
  height: 256px;
  bottom: 0;
}
.s-o-gesture {
  position: absolute;
  width: 145px;
  height: 145px;
  left: 925px;
  top: 451px;
}
.tips-font {
  position: absolute;
  top: 0;
  height: 26px;
  width: 180px;
}
.hj-1 {
  position: relative;
  float: left;
  width: 71px;
  height: 26px;
}
.wco {
  display: none;
  float: left;
  position: relative;
  top: 0;
  width: 20px;
  height: 23px;
  background: url("../img/lad-5.png") no-repeat 0 0;
  background-size: 200px 23px;
}
.wct {
  display: none;
  float: left;
  position: relative;
  top: 0;
  width: 20px;
  height: 23px;
  background: url("../img/lad-5.png") no-repeat 0 0;
  background-size: 200px 23px;
}
.wch {
  float: left;
  position: relative;
  top: 0;
  width: 20px;
  height: 23px;
  background: url("../img/lad-5.png") no-repeat 0 0;
  background-size: 200px 23px;
}
.wcprecent {
  float: left;
  position: relative;
  width: 17px;
  height: 23px;
  margin-left: 10px;
}
.p3-7 {
  width: 64px;
  height: 14px;
  left: 50%;
  margin-left: -52px;
  top: 55px;
}
.p3-8 {
  width: 60px;
  height: 72px;
  right: 50px;
  bottom: 0;
}
.click-gesture {
  display: none;
  position: absolute;
  width: 233px;
  height: 105px;
  left: 50%;
  margin-left: -126px;
  top: 527px;
}
.p5-17 {
  width: 54px;
  height: 70px;
  left: 50%;
  margin-left: -27px;
  top: 0px;
}
.p5-18 {
  width: 231px;
  height: 27px;
  left: 0px;
  bottom: 0px;
}
.s-o-move {
  position: absolute;
  width: 330px;
  height: 293px;
  left: 1037px;
  top: 303px;
}
.p3-6 {
  width: 206px;
  height: 91px;
  top: 0;
  left: 50%;
  margin-left: -103px;
}
.move-btn {
  position: absolute;
  width: 330px;
  height: 271px;
  top: 392px;
  left: 1018px;
}
.p3-9 {
  width: 330px;
  height: 271px;
  top: 0;
  left: 0;
}
/*step Two*/
.s-t-des {
  position: absolute;
  width: 181px;
  height: 427px;
  left: 36px;
  top: 174px;
}
.p4-2 {
  width: 94px;
  height: 424px;
  top: 0;
  left: 0;
}
.p4-1 {
  width: 73px;
  height: 402px;
  top: 0;
  right: 0;
}
.move-l {
  position: absolute;
  width: 227px;
  height: 234px;
  left: 222px;
  top: 246px;
}
.p4-10 {
  position: absolute;
  width: 227px;
  height: 234px;
}
.move-r {
  position: absolute;
  width: 241px;
  height: 250px;
  left: 498px;
  top: 246px;
}
.p4-11 {
  position: absolute;
  width: 241px;
  height: 250px;
}
.move-c {
  z-index: 9990;
  position: absolute;
  width: 348px;
  height: 357px;
  left: 291px;
  top: 176px;
}
.p4-9 {
  width: 261px;
  height: 271px;
  left: 336px;
  top: 218px;
}
.p4-9-1 {
  width: 348px;
  height: 357px;
}
.two-first .s-t-tips {
  position: absolute;
  width: 232px;
  height: 92px;
  left: 379px;
  top: 127px;
}
.p4-12 {
  width: 232px;
  height: 92px;
}
/*land start*/
#land {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background: url("..//img/p7-bg.jpg") no-repeat;
}
.land-phone {
  position: absolute;
  top: 25%;
  width: 127px;
  height: 124px;
  left: 50%;
  margin-left: -63px;
}
.h-1 {
  width: 54px;
  height: 111px;
  left: 0;
  top: 0;
}
.h-2 {
  width: 33px;
  height: 51px;
  left: 80px;
  top: 0;
}
.h-3 {
  width: 114px;
  height: 57px;
  right: 0;
  bottom: 0;
}
.h-4 {
  width: 172px;
  height: 69px;
  left: 50%;
  margin-left: -86px;
  top: 67%;
}
#musicBtn {
  display: none;
  position: absolute;
  z-index: 999;
  right: 50px;
  top: 50px;
  width: 48px;
  height: 48px;
  background-image: url("../img/muse.png");
  background-repeat: no-repeat;
  -webkit-background-size: 128px 48px;
  background-size: 128px 48px;
}
.musicOff {
  background-position: 0px 0;
  animation: music-pause 3s linear infinite;
  -webkit-animation: music-pause 3s linear infinite;
}
.musicOn {
  background-position: -80px 0;
  animation: music-rotate 3s linear infinite;
  -webkit-animation: music-rotate 3s linear infinite;
}
@keyframes music-rotate {
  0% {
    transform: rotateZ(0);
    -webkit-transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
  }
}
@keyframes music-pause {
  0% {
    transform: rotateZ(0);
    -webkit-transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
  }
}
@media screen and (orientation: portrait) {
  #box {
    width: 100vh;
    height: 100vw;
    display: block;
    left: 0;
    top: 0;
    margin-left: 0;
    margin-top: 0;
    transform-origin: 0% 0%;
    transform: translate(100vw, 0) rotate(90deg);
  }
}
@media screen and (max-height: 1400px) and (orientation: portrait) {
  .s-o-des {
    left: 162px;
  }
  .stepTwo-area {
    transform: scale(0.95);
    margin-left: -656px;
  }
  .stick-inner,
  .video-inner {
    transform: scale(0.9);
  }
  .video-title {
    left: 69px;
  }
  .p8-2 {
    left: 260px;
  }
}
@media screen and (max-height: 1200px) and (orientation: portrait) {
  .video-inner {
    transform: scale(0.8);
  }
  .p8-2 {
    left: 305px;
  }
}
@media screen and (orientation: landscape) {
  #land {
    display: block;
  }
  #musicBtn {
    display: none;
  }
}
